.size-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.size-container * {
    position: absolute;
}

.size-car {
    display: block;
    width: 55px;
    height: 26px;
}
.container{
    margin-right: 20px !important;
    margin-left: 150px !important;
}